<a href="https://colab.research.google.com/github/bunny346/APPLICATIONS-OF-DATA-MINING/blob/main/LAB_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from datetime import datetime

data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Department': ['HR', 'IT', 'Finance', 'Sales', 'IT'],
    'Joining_Date': ['2015-06-15', '2018-09-10', '2012-04-23', '2020-11-30', '2016-08-25'],
    'Salary': [50000, 70000, 65000, 45000, 72000]
}
df = pd.DataFrame(data)

df['Joining_Date'] = pd.to_datetime(df['Joining_Date'])

current_year = datetime.now().year
df['Years_Experience'] = current_year - df['Joining_Date'].dt.year

label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Department'])

df = pd.concat([df, pd.get_dummies(df['Department'], prefix='Dept')], axis=1)

grouped = df.groupby('Department').agg({'Salary': ['sum', 'mean'], 'Years_Experience': ['mean']})

pivot = df.pivot_table(index='Department', values=['Salary', 'Years_Experience'], aggfunc=['sum', 'mean'])

print("Transformed Data:")
print(df)
print("\n\n\nGrouped Data:")
print(grouped)
print("\n\n\nPivot Table:")
print(pivot)

Transformed Data:
   Employee_ID Department Joining_Date  Salary  Years_Experience  \
0          101         HR   2015-06-15   50000                10
1          102         IT   2018-09-10   70000                 7
2          103    Finance   2012-04-23   65000                13
3          104      Sales   2020-11-30   45000                 5
4          105         IT   2016-08-25   72000                 9

   Label_Encoded  Dept_Finance  Dept_HR  Dept_IT  Dept_Sales
0              1         False     True    False       False
1              2         False    False     True       False
2              0          True    False    False       False
3              3         False    False    False        True
4              2         False    False     True       False



Grouped Data:
            Salary          Years_Experience
               sum     mean             mean
Department
Finance      65000  65000.0             13.0
HR           50000  50000.0             10.0
IT          142000  71000.0              8.0
Sales        45000  45000.0              5.0



Pivot Table:
               sum                      mean
            Salary Years_Experience   Salary Years_Experience
Department
Finance      65000               13  65000.0             13.0
HR           50000               10  50000.0             10.0
IT          142000               16  71000.0              8.0
Sales        45000                5  45000.0              5.0